body {
  text-align: center;
  font-family: sans-serif;
}

#world {
  width: 400px;
  height: 400px;
  border: 2px solid black;
  margin: auto;
  position: relative;
  background: #f0f0f0;
}

#human {
  position: absolute;
  font-size: 30px;
  left: 180px;
  top: 180px;
  transition: 0.2s;
}
